{% extends "home/index.html" %}
{% load static %}

{% block my_pyme_title %}
Accessorie
{% endblock %}

{% block my_pyme_header %}
    <header class="masthead" style="background-image: url('/static/home/assets/img/acce.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-15 col-lg-16 col-xl-14">
                    <div class="site-heading">
                        <h1>Accessories</h1>
                    
                    </div>
                </div>
            </div>
        </div>
    </header>


{% endblock %}

{% block my_pyme_content %}
    
YOUR KEYBOARD OR TRACKPAD STOPS WORKING
If spilled water ends up inside your keyboard, you may find that some or all of your keys become unresponsive. Similarly, water droplets can make their way into the edges of your trackpad, creating some erratic behavior.

THERE’S DISCOLORATION OR CORROSIONclose up of water damaged computer components
Another telltale sign of moisture issues is discoloration outside or inside your computer. Complete a visual inspection to check for corrosion around connectors and your motherboard. Any white or green residue is typically a good indicator that you’ve had liquid inside your computer.

YOU’RE EXPERIENCING SCREEN ISSUES
Depending on where the liquid has ended up inside your laptop, you may experience various screen issues. Pixel discoloration or a display that won’t turn on can both indicate that you’ll need to seek out water damage repair.



{% endblock %}