{% extends "home/index.html" %}
{% load static %}

{% block my_pyme_title %}
Accessorie
{% endblock %}

{% block my_pyme_header %}
    <header class="masthead" style="background-image: url('/static/home/assets/img/acce.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-15 col-lg-16 col-xl-14">
                    <div class="site-heading">
                        <h1>Accessories</h1>
                    
                    </div>
                </div>
            </div>
        </div>
    </header>


 {% endblock %}

{% block my_pyme_content %}
    
<h4>Pages</h4>
<ul>
    <li><a href="#">Computers</a></li>
    <li><a href="#">Cellphones</a></li>
    <li><a href="#">Accessories</a></li>
</ul>
</div>



{% endblock %}