{% extends "home/index.html" %}
{% load static %}

{% block my_pyme_title %}
Computer's detail
{% endblock %}

{% block my_pyme_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>{{ computer.name }}</h1>
                    <span class="subheading">Computer's detail</span>
                </div>
            </div>
        </div>
        <a class="button_custom" href="{% url 'computer:computer-add' %}">Create a new Computer</a>
    </div>
</header>
{% endblock %}


{% block my_pyme_content %}
<!-- Post preview-->
<div class="post-preview">
    <h2 class="post-subtitle">Model: {{ computer.model }}</h2>
    <h3 class="post-subtitle">Brand: {{ computer.brand }}</h3>
    <p class="post-meta">
        Created by
        <span style="color: #0b4956;" href="">{{ computer.owner.username }}</span>
        ( {{ computer.created_at }} )
        <br>
        Last Update ( {{ computer.updated_at }} )
    </p>

    <!-- Image -->
    {% if computer.image %}
        <div style="text-align: center;">
            <img height="250px" src="{{ computer.image.url }}">
        </div>
    {% endif %}

    <!-- Description -->
    <p class="card-text ">{{ computer.description|safe }}</p> <!-- ckeditor-->

    <!-- Update-Delete link only for the owner -->
    {% if user == computer.owner or user.is_superuser %}
        <p style="text-align: center">
            <a href="{% url 'computer:computer-update' computer.id %}">
                <i class="fa fa-pencil" style="color: #1c1c91;"></i> Edit Computer
            </a>
            &ensp; | &ensp;
            <a href="{% url 'computer:computer-delete' computer.id %}">
                <i class="fa fa-trash" style="color: #881a1a;"></i> Delete Computer
            </a>
        </p>
    {% endif %}
    
    <!-- Divider-->
    <hr class="my-4" />

    <!-- Comment creation -->
    <form method="POST" action="{% url 'computer:comment-create' computer.id %}">
        {% csrf_token %}
        {{ comment_form }}
    <input type="submit" value="Publish comment">
    </form>
    {% if not comments %}
        <p></p>
    {% endif %}

    <!-- Comments list -->
    {% for comment in comments %}
        <p> {{ comment.text }}
            ({{ comment.owner.username }} | {{ comment.updated_at }})
            {% if user == comment.owner or user.is_superuser %}
            <a href="{% url 'computer:comment-delete' comment.id %}"><i class="fa fa-trash" style="color: #881a1a;"></i></a>
            {% endif %}
        </p>
    {% endfor %}
</div>
{% endblock %}